<div class="first-section">
  <div class="first-section-content">
    <%= image_tag "logo.png", id:"logo"%>
    <div class="first-section-text">
      <h1>
        Your <strong>banker, accountant & tax advisor</strong> on your smartphone
      </h1>
      <h3>The financial assistant of smart architects |</h3>
      <div class="input-form">
        <input type="email" name="tester[profile][email]" placeholder=" ðŸ‡§ðŸ‡ª   We are open for beta - leave us your email ðŸ’ªðŸ¼">
        <input type="submit" style="display:none;">
      </div>
    </div>
    <div class="first-section-image">
      <%= image_tag "iphone-1.png"%>
    </div>
  </div>
</div>

<div class="second-section">
  <div class="icon" id="trophee-section">
    <%= image_tag "trophee.png", id:"trophee"%>
    <p id="icon-trophee">SELF-EMPLOYED WORKERS FIRST</p>
    <span>Discover how accountants use Accountable</span>
  </div>

  <div class="second-section-content">
    <div class="row">

      <div class="col-xs-12 col-sm-3">

        <div class="icon">
          <%= image_tag "icon-1.png"%>
          <p id="icon-1"><strong>Always on top of your future tax payables </strong> and earnings.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="icon">
          <%= image_tag "icon-2.png"%>
          <p id="icon-2"><strong>No receipt hassle. </strong>Forget the clean-your-admin sundays.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="icon">
          <%= image_tag "icon-3.png"%>
          <p id="icon-3"><strong>Integrated invoicing </strong>that connects to your bank account.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="icon">
          <%= image_tag "icon-4.png"%>
          <p id="icon-4"><strong>Personal day-to-day tax advice,</strong> based on your exact needs.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="third-section">
  <div class="third-section-content">
    <div class="third-section-image">
      <%= image_tag "iphone-2.png"%>
    </div>
    <div class="third-section-text">
      <h3>
        Always on top of your next VAT, social contribution and tax payments.
      </h3>
      <p>Anticipate how much you will need to pay</p>
      <p>Know how much money is available for you to spend or invest at any point in time</p>
      <p>Prepare VAT and tax statements and automate payments (available soon)</p>
    </div>
  </div>

  <div class="third-section-content">
    <div class="third-section-text">
      <h3>
        Never lose or miss a receipt. <br> Ever. Again.
      </h3>
      <p>Scan your receipts - we extract the amount, date and applicable VAT</p>
      <p>Connect automatically to your bank transactions and make sure you do not miss a single receipt</p>
      <p>Your receipts are directly available for you or your accountant. Everyone saves time.</p>
    </div>
    <div class="third-section-image" id= "right-iphone">
      <%= image_tag "iphone-3.png" %>
    </div>
  </div>

  <div class="third-section-content">
    <div class="third-section-image">
      <%= image_tag "iphone-4.png"%>
    </div>
    <div class="third-section-text">
      <h3>
        Your invoices, directly integrated.
      </h3>
      <p>Build beautiful invoices that your clients will want to pay instantly, or</p>
      <p>Scan any invoice or connect to your already existing invoicing solution</p>
      <p>Be notified when every time an invoice gets paid</p>
      <p>Flag overdue invoices and send instant reminders to your client</p>
    </div>
  </div>

  <div class="third-section-content">
    <div class="third-section-text">
      <h3>
        Real-time tax recommendations. No more end of year rush to book professional expenses.
      </h3>
      <p>Optimise your taxes by knowing how much to spend in which categories</p>
      <p>Compare to other professionals with similar activities and revenue</p>
      <p>Meet a real-life chartered accoutant and tax advisor to get the extra advice</p>
    </div>
    <div class="third-section-image" id= "right-iphone">
      <%= image_tag "iphone-5.png" %>
    </div>
  </div>
</div>

<div class="fourth-section">
  <h2>Your <strong> banker, <br> accountant </strong>&  <strong>tax advisor </strong> <br> on your smartphone</h2>
  <h3>The financial assistant <br> of self-employed workers</h3>
  <div class="input-form bottom">
    <form>
      <input type="email" name="tester[profile][email]" placeholder="ðŸ‡§ðŸ‡ª  We are open for beta - leave us your email  ðŸ’ªðŸ¼">
      <input type="submit" style="display:none;">
    </form>
  </div>
</div>


<footer>
  <div class="footer-text">
    <span>&copy; Copyright 2017, Accountable S.A. All rights reserved.</span> <br>
    <span>contact us at hello@getaccountable.eu</span>
  </div>
  <div class="footer-links">
    <a href="https://www.linkedin.com/company/18175279/">
    <%= image_tag "Linkedin.png"%>
    </a>
    <%= image_tag "Facebook.png"%>
  </div>
</footer>
