<%= provide(:description, 'Accountable is a mobile application and a service that automates accounting for self-employed workers in Belgium') %>
<%= provide(:keywords, 'accounting, robo-accounting, accountable, yuki, tellow, self-employed, freelance') %>
<div class="first-section">
  <div class="first-section-content">

    <%= image_tag "logo.png", id:"logo"%>
    <% if params[:locale].nil? %>
    <%= render "shared/dropdown_default" %>
    <% else %>
    <%= render "shared/dropdown_choice" %>
    <% end %>

    <div class="first-section-text" data-aos="fade-right" data-aos-duration="2000">
      <h1>
        <%=t(:your)%> <span style="font-weight:500;"><%=t(:role)%> </span> <%=t(:smartphone)%>
      </h1>
      <h3>
        <span><%=t(:assistant)%> </span>
        <a href="" class="typewrite" data-period="20" data-type='[ <%=t(:target)%> ]'>
          <span class="wrap"></span>
        </a>
      </h3>

      <div class="form-contact">
        <form class="html-form-email-<%=@language%>" data-remote="true">
          <div class="question">
            <input type="email" name="tester[profile][email]">
            <label><%=t(:open_beta)%> 💪</label>
            <input type="submit" style="display:none;" onclick="displayThankYou();" class="submit-button" value="V">
          </div>
        </form>
      </div>
          <h3 class="thank-you"><%= t(:thank_you_mail) %></h3>
    </div>
    <div class="first-section-image" data-aos="fade-left" data-aos-duration="2000">
      <%= image_tag "iphone-1.png"%>
    </div>
  </div>
</div>

<div class="second-section">
  <div class="second-section-user">
    <div class="icon" id="trophee-section" data-aos="fade-down" data-aos-duration="1000">
      <%= image_tag "trophee.png", id:"trophee"%>
      <p id="icon-trophee"><%=t(:self_employed_first)%></p>
      <p id="discover"><%=t(:accountants)%>   <%= image_tag "right-arrow.png", id:"arrow" %></p>
    </div>

    <div class="second-section-content">




      <div class="icon" data-aos="fade-right" data-aos-duration="600">
        <%= image_tag "icon-1.png"%>
        <p id="icon-1"><%= raw t(:future_obligations)%></p>
      </div>



      <div class="icon" data-aos="fade-up" data-aos-duration="600">
        <%= image_tag "icon-2.png"%>
        <p id="icon-2"><%= raw t(:no_receipt_hassle)%></p>
      </div>


      <div class="icon" data-aos="fade-up" data-aos-duration="600">
        <%= image_tag "icon-3.png"%>
        <p id="icon-3"><%= raw t(:integrated_invoice)%></p>
      </div>


      <div class="icon" data-aos="fade-left" data-aos-duration="600">
        <%= image_tag "icon-4.png"%>
        <p id="icon-4"><%= raw t(:tax_advise)%></p>
      </div>

    </div>
  </div>

  <div class="second-section-discover">
    <div class="icon" id="trophee-section" data-aos="fade-down" data-aos-duration="1000">
      <%= image_tag "icon-1-acc.png", id:"trophee"%>
      <p id="icon-trophee"><%= t(:accountant_happy)%></p>
      <p id="user"><%= image_tag "left-arrow.png", id:"arrow"%><%= t(:benefits_accountant)%> </p>
    </div>
    <div class="second-section-content">
      <div class="icon" data-aos="fade-right" data-aos-duration="600">
        <%= image_tag "icon-2-acc.png"%>
        <p id="icon-2-acc"><%= t(:access_records)%></p>
      </div>
      <div class="icon" data-aos="fade-right" data-aos-duration="600">
        <%= image_tag "icon-3-acc.png"%>
        <p id="icon-3-acc"><%= t(:access_files)%></p>
      </div>
    </div>
  </div>


</div>



<div class="third-section">
  <div class="third-section-content">
    <div class="third-section-image" data-aos="fade-right" data-aos-duration="1500">
      <%= image_tag "iphone-2.png"%>
    </div>
    <div class="third-section-text" data-aos="fade-left" data-aos-duration="1500">
      <h3>
        <%= t(:tax_control)%>
      </h3>
      <p><%= t(:anticipate_pay)%></p>
      <p><%= t(:money_available)%></p>
      <p><%= t(:prepare_statements)%></p>
    </div>
  </div>

  <div class="third-section-content">
    <div class="third-section-text" data-aos="fade-right" data-aos-duration="1500">
      <h3>
        <%= raw t(:never_lose_receipt)%>
      </h3>
      <p><%= t(:scan_receipts)%></p>
      <p><%= t(:connect_bank)%></p>
      <p><%= t(:receipts_available)%></p>
    </div>
    <div class="third-section-image" id= "right-iphone" data-aos="fade-left" data-aos-duration="1500">
      <%= image_tag "iphone-3.png" %>
    </div>
  </div>

  <div class="third-section-content">
    <div class="third-section-image" data-aos="fade-right" data-aos-duration="1500">
      <%= image_tag "iphone-4.png"%>
    </div>
    <div class="third-section-text" data-aos="fade-left" data-aos-duration="1500">
      <h3>
        <%= t(:invoices_integrated)%>
      </h3>
      <p><%= t(:beautiful_invoices)%></p>
      <p><%= t(:scan_invoices)%></p>
      <p><%= t(:notified)%></p>
      <p><%= t(:flag_overdue)%></p>
    </div>
  </div>

  <div class="third-section-content">
    <div class="third-section-text" data-aos="fade-right" data-aos-duration="1500">
      <h3>
        <%= t(:real_time_recommendations)%>
      </h3>
      <p><%= t(:optimise_tax)%></p>
      <p><%= t(:compare_professionals)%></p>
      <p><%= t(:real_life_accountant)%></p>
    </div>
    <div class="third-section-image" id= "right-iphone" data-aos="fade-left" data-aos-duration="1500">
      <%= image_tag "iphone-5.png" %>
    </div>
  </div>
</div>

<div class="fourth-section">
  <h2><%= raw t(:value_prop)%></h2>
  <h3><%= raw t(:assistant_value_prop)%></h3>
  <div class="form-contact">
    <form class="html-form-email-<%=@language%>" data-remote="true">
      <div class="question">
        <input type="email" name="tester[profile][email]" id="form-bottom">
        <label id="label-bottom">🇧🇪<%=t(:open_beta)%> 💪</label>
        <input type="submit" style="display:none;"onclick="displayThankYou();" class="submit-button" value="V">
      </div>
    </form>
  </div>
  <h3 class="thank-you"> <%= t(:thank_you_mail) %></h3>
</div>


<footer>
  <div class="footer-text">
    <span>&copy; Copyright 2018, Accountable S.A. All rights reserved.</span> <br>
    <span><%= t(:contact)%> hello@getaccountable.eu</span>
  </div>
  <div class="footer-links">
    <a href="https://www.linkedin.com/company/18175279/">
      <%= image_tag "Linkedin.png"%>
    </a>
    <a href="https://www.facebook.com/getaccountable/">
      <%= image_tag "Facebook.png"%>
    </a>
  </div>
</footer>
